
  <div class="row">
    <div class="col-md-offset-2 col-md-4">
      port chat selon son service rest
      <div class="" ng-controller="chatCtrl">
    <div> id:  {{dataChatService.id}}  </div>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-4">
      port livre selon son service rest
      <div class="" ng-controller="livresCtrl">
          {{dataLivresService.id}}
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-4">
            port notification selon son service rest
      <div class="" ng-controller="notificationsCtrl">
        <div> id:  {{dataNotificationsService.id}}  </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-4">
        port utilisateur selon son service rest
      <div class="" ng-controller="utilisateursCtrl">
        <div> id:  {{dataUtilisateursService.id}}  </div>
      </div>

    </div>
  </div>
